<h1>Votre inscription à la newsletter</h1>

<p>Vous êtes inscrit(e) à la newsletter</p>

<p>Cliquez sur ce lien <a href="{{absolute_url(path('newsletters_confirm', {id: member.id, token: token}))}}">{{absolute_url(path('newsletters_confirm', {id: member.id, token: token}))}}</a></p>

<p>Si vous n'êtes pas à l'origine veuillez ignorer cet e-mail</p>