<form method="post" action="{{ path('admin_timeline_delete', {'id': timeline.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timeline.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
