{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="h-block-common my-3 p-3">
    <h1>Réinitialisez votre mot de passe</h1>
    </div>

<div class="h-block-common my-3 p-3">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small class="colorTextWhite">
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-dark my-2">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
