{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Nouveau produit</h1>
    <p class="text-end">* champs obligatoires</p>
    <a href="{{ path('admin_product_index') }}" class="btn btn-secondary">Returner à la liste</a>

    {{ include('admin_product/_form.html.twig') }}

{% endblock %}
