{% extends 'base-admin.html.twig' %}

{% block title %}Edit Carousel{% endblock %}

{% block body %}
    <h1>Modifier Carousel</h1>
    <a href="{{ path('admin_carousel_index') }}" class="btn btn-secondary">Returner à la liste</a>

    {{ include('admin_carousel/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('admin_carousel/_delete_form.html.twig') }}
{% endblock %}
