{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau Carousel{% endblock %}

{% block body %}
    <h1>Nouveau Carousel</h1>
    <a href="{{ path('admin_carousel_index') }}" class="btn btn-secondary">Retourner à la liste</a>

    {{ include('admin_carousel/_form.html.twig') }}

{% endblock %}
