{% extends 'base.html.twig' %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Ma commande
{% endblock %}

{% block body %}
<div class="text-light">Bien!</div>
{# <div class="text-light">{{commande.delivery|raw}}</div> #}

{% endblock %}
