{% extends 'base-admin.html.twig' %}

{% block title %}Nouveaux jours{% endblock %}

{% block body %}
    <h1>Creer des nouveaus jours</h1>
    <a href="{{ path('admin_jour_index') }}" class="btn btn-secondary">Returner à la liste</a>

    {{ include('admin_jour/_form.html.twig') }}

{% endblock %}
